.container {
  display: flex;
  align-items: center;
  flex-direction: column; 
  padding-top: 100px;
}

h1 {
  color: aliceblue;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

form button {
  border-radius: 30px; 
  background-color: rgb(180, 63, 253);
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

form button:hover { 
  opacity: 0.5;
}

form input {
  border: 1px solid rgb(52, 42, 52);
  border-radius: 30px;
  height: 40px;
  background-color: #3e3d59;
  color: rgb(156, 169, 181);
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

form ::placeholder{

  color: rgb(215, 215, 227);
}
.card {
  display: flex;
  justify-content: space-between;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px ;
}

& p {
  color: #ffff;
  font-weight: bold;

  & span{
    font-weight: normal;
  }
}

& bottun{
  background-color: transparent;
  border:none;
  cursor:pointer;
}

& button:hover{
  opacity: 0.5;
}

